<body>
    <div class="hd nav-bar J_headNav">
    </div>
    <div class="bd" id="J_summary">
        <div class="mix-summary">
            <div class="J_miOneScroller">
                <div class="section section-future" data-title="将来" data-num="1">
                    <div class="section-bg-img">
                    </div>
                    <div class="container">
                        <div>
                            <h2 class="webfont">越走越温暖，更适合行走的雪地靴</h2>
                            <p>Warm me up，当牛角扣遇见雪地靴，暖脚也暖心</p>
                        </div>
                    </div>
                </div>
                <div class="section section-future" data-title="小米MIX品牌视频" data-num="2">
                    <div class="section-bg-img">
                    </div>
                    <div class="container">
                        <div>
                            <h2 class="webfont">贴足弓设计<br />
                                <p>脚感像被暖男天衣无缝的握在手里</p>
                                <h2 class="webfont">原创设计太阳纹底<br />
                                    <p>   像防滑的艺术品</p>
                                    <h2 class="webfont">瘦鞋型，显脚小<br />
                                        <p>   能嫁个好人家</p>
                                    </div>
                                </div>
                            </div>
                            <div class="section section-features" data-title="黑科技" data-num="3">
                                <div class="section-bg-img">
                                </div>
                                <div class="container">
                                    <h2 class="webfont">听筒、距离感应器都消失了<br />
                                        全面屏背后，还有什么创新科技？</h2>
                                    <p>全面屏，这是一项不可思议的黑科技。为了实现正面几乎只有屏幕的设想，我们去掉了表面传统的听筒、红外<br />
                                        距离感应器，设计了一个仅为普通相机 50% 体积的微型前置相机。深度定制了一块 17：9 的超大圆角屏幕，<br />
                                        这不仅保持了全面屏最佳的视觉比例，还可以顺畅地使用虚拟按键进行系统操作。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript" src="http://s01.mifile.cn/js/product/mix/index.min.js?f4b68d"></script>
                <script src="http://c1.mifile.cn/f/i/15/stat/js/xmsg_ti.js"></script>
                <!--mae_monitor-->
            </body>
