<body>
    <nav class="g-hd2" id="gTopbar">
        <div id="" style="margin-top: 60px;">
            <div id="js-funcTab" class="header_fixed1">
                <div class="g-row">
                    <a class="logo" href="/products" target="_top">
                        <img src="http://i1.piimg.com/583835/6455198f47f9b9bd.png"/>
                        <span class="dec">每个人都应该被温柔对待</span>
                    </a>
                    <ul class="navbar-sc">
                        <li><a href="/products"  target="_top">进入商城  <i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="hd nav-bar J_headNav">
    </div>
    <div class="bd" id="J_summary">
        <div class="mix-summary">
            <div class="J_miOneScroller">
                <div class="section section-future se" data-title="雪地靴" data-num="1">
                    <div class="section-bg-img">
                    </div>
                    <div class="container">
                        <h2>越走越温暖，更适合行走的雪地靴</h2>
                        <p>Warm me up，当牛角扣遇见雪地靴，暖脚也暖心</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <a href="/products"  class="btn  btn-primary goods-add-cart-btn"  target="_top">进入商城  <i class="fa fa-angle-right"></i>
                        </a>
                    </a>
                </div>
            </div>
            <div class="section section-future se" data-title="设计" data-num="2">
                <div class="section-bg-img2">
                </div>
                <div class="container">
                    <div class="zb1">
                        <h3>贴足弓设计</h3>
                        <p>脚感像被暖男天衣无缝的握在手里</p>
                    </div>
                    <div class="zb2">
                        <h3>原创设计太阳纹底</h3>
                        <p>像防滑的艺术品</p>
                    </div>
                    <div class="zb3">
                        <h3>瘦鞋型，显脚小</h3>
                        <p>能嫁个好人家</p>
                    </div>
                </div>
            </div>
            <div class="section section-future se" data-title="工艺" data-num="3">
                <div class="section-bg-img3">
                </div>
                <div class="container">
                    <div class="zc1">
                        <h3>一点点弧度，就是走路舒适的秘密。</h3>
                        <p>影响穿着的细节，往往非常细小而且微妙，根据人的行走习惯和动作，
鞋头和鞋尾翘起来一点，就能改变一双鞋走路的舒适度。</p>
                    </div>
                    <div class="zc2">
                        <h3>橡胶和EVA结合，防滑、耐磨，比常规鞋底轻70克。</h3>
                        <p>EVA让鞋子变轻，有更好的缓冲性能，橡胶做打底面则起到防滑耐磨作用，
两者结合的完美性，职能用恰到好处来形容。</p>
                    </div>
                    <div class="zc3">
                        <h3>皮毛一体羊毛内里，暖和和干爽原因。</h3>
                        <p>羊皮最大特点是保暖又透气，纤维之间都有空隙，保证空气流通，
让鞋内里干爽透气，而每一根纤维都会支撑与身体接触的部位，让脚感体验舒适。</p>
                    </div>
                </div>
            </div>
            <div class="section section-future se" data-title="Harris粗花" data-num="4">
                <div class="section-bg-img4">
                </div>
                <div class="container">
                    <div class="zd1">
                        <h2>奢侈的，不像文艺品牌雪地靴。
                              </h2>
                        <p>后跟用了Harris粗花呢，爱马仕香奈儿也用它。
                              </p>
                    </div>
                </div>
            </div>
            <div class="section section-future se" data-title="Your style" data-num="5">
                <div class="section-bg-img5">
                </div>
                <div class="container">
                    <div class="ze1">
                        <h3>Your style
                        </h3>
                        <p>想到你穿这双鞋去天涯海角，我就很高兴。
                                          </p>
                    </div>
                </div>
            </div>
            <div class="section section-future se" data-title="Your style2" data-num="6">
                <div class="section-bg-img6">
                </div>
            </div>
            <div class="section section-future se" data-title="Your style3" data-num="7">
                <div class="section-bg-img7">
                </div>
            </div>
            <div class="section section-future se" data-title="材料" data-num="8">
                <div class="section-bg-img8">
                </div>
                <div class="container">
                    <div class="zh1">
                        <h3>证书和LOGO只证明一件事，<br>
                            我们有澳洲羊剪毛供应商。</h3>
                    </div>
                    <div class="zh2">
                        <h3>除了澳洲，<br>
                            这双雪地靴还有苏格兰血统。</h3>
                    </div>
                </div>
            </div>
            <div class="section section-future se" data-title="购买" data-num="9">
                <div class="section-bg-img9">
                    <footer class="g-ft">
                        <div class="m-ft2">
                            <div class="g-row">
                                <ul class="footer_siteEnsure clearfix">
                                    <li class="item">
                                        <div class="inner"><i class="icon icon-normal-ft1"></i>
                                            <p class="text">30天无忧退货</p>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="inner"><i class="icon icon-normal-ft2"></i>
                                            <p class="text">满88元免邮费</p>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="inner"><i class="icon icon-normal-ft3"></i>
                                            <p class="text">CGG品质保证</p>
                                        </div>
                                    </li>
                                </ul>
                                <hr>
                                <div class="footer_info">
                                    <nav class="nav">
                                        <a class="text" href="/abouts/1">关于我们</a>
                                        <b class="split"></b>
                                        <a class="text" href="/abouts/2">品牌故事</a>
                                        <b class="split"></b>
                                        <a class="text" href="/abouts/3">帮助中心</a>
                                        <b class="split"></b>
                                        <a class="text" href="/abouts/4">售后服务</a>
                                        <b class="split"></b>
                                        <a class="text">客服热线: 4000-199-177 | 周一至周日 9:00~24:00</a>
                                    </nav>
                                    <p class="copyright">
                                        © 雨佳&宇飞小组 情非得已(北京)科技有限公司
                          </p>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
                <div class="container">
                    <h2>暖到角踝，暖的让暖男失业，是什么样的暖。</h2>
                    <a href="/products"  class="btn  btn-primary goods-add-cart-btn"  target="_top">立即购买  <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <footer class="g-ft">
                    <div class="m-ft2">
                        <div class="g-row">
                            <ul class="footer_siteEnsure clearfix">
                                <li class="item">
                                    <div class="inner"><i class="icon icon-normal-ft1"></i>
                                        <p class="text">30天无忧退货</p>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="inner"><i class="icon icon-normal-ft2"></i>
                                        <p class="text">满88元免邮费</p>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="inner"><i class="icon icon-normal-ft3"></i>
                                        <p class="text">CGG品质保证</p>
                                    </div>
                                </li>
                            </ul>
                            <hr>
                            <div class="footer_info">
                                <nav class="nav">
                                    <a class="text" href="/abouts/1" target="_top">关于我们</a>
                                    <b class="split"></b>
                                    <a class="text" href="/abouts/2" target="_top">品牌故事</a>
                                    <b class="split"></b>
                                    <a class="text" href="/abouts/3" target="_top">帮助中心</a>
                                    <b class="split"></b>
                                    <a class="text" href="/abouts/4" target="_top">售后服务</a>
                                    <b class="split"></b>
                                    <a class="text">客服热线: 4000-199-177 | 周一至周日 9:00~24:00</a>
                                </nav>
                                <p class="copyright">
                                    © 雨佳&宇飞小组 情非得已(北京)科技有限公司
                        </p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://s01.mifile.cn/js/product/mix/index.min.js?f4b68d"></script>
<script src="http://c1.mifile.cn/f/i/15/stat/js/xmsg_ti.js"></script>
<!--mae_monitor-->
</body>
